/project1/Project1.1.X/build/
/project1/Project1.1.X/dist/
/project1/Project1.3.X/dist/
/project1/Project1.3.X/build/
/project2/counter.X/dist/
/project2/counter.X/build/
/project2/int0.X/build/
/project2/int0.X/dist/
/project2/interrupt_c.X/build/
/project2/interrupt_c.X/dist/
/project2/Project2.2.X/dist/
/project2/Project2.2.X/build/
/project2/Project1.3.X/build/
/project2/Project1.3.X/dist/
/project2/Project2.1.X/build/
/project2/Project2.1.X/dist/
/project2/Project2.3c.X/dist/
/project2/Project2.3c.X/build/
/project2/test.X/dist/
/project2/test.X/build/